input{
    min-width: 20vw;
    padding: 10px;
    margin: 0 5%;
    border-radius: 15px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
input::placeholder{
    text-align: center;
    font-size: 1.5rem;
}
input:focus::placeholder{
    color: transparent;
    transition: 0.4s;
}